@import './main';
@import './fonts';
@import './blocks/header';
@import './blocks/hero';
@import './blocks/types';
@import './blocks/garant';
@import './blocks/team';
@import './blocks/client';
@import './blocks/contact';
@import './blocks/map';
@import './blocks/footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gotham Pro';
}

.container {
  margin: 0 auto;
  width: 1240px;
  position: relative;
}
.no-scroll{
  overflow-Y:hidden;
}
section{
  overflow-x: hidden;
}
li {
  list-style-type: none;
}
.dnone{
  display: none !important;
}
a,
a:active,
a:visited {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

.button{
  transition: all .5s;
  cursor: pointer;
}
.button:hover{
  background: $light;
  border:3px solid $blue;
  color:$blue;
  a{
    color:$blue;
  }
}
.close__button{
  transition: all .5s;
  cursor: pointer;
}
.close__button:hover{
  background: $blue;
  border:1px solid $light;
  color:$light;
}

.section__title{
  margin: 70px 0 20px;
  font-weight: bold;
  font-size: 38px;
  line-height: 120%;
  strong{
    color:$blue;
  }
}
.section__subtitle{
  line-height: 120%;
  font-weight: 300;
  font-size: 20px;
  max-width: 45%;
  margin-bottom: 55px;
}
@media (min-width:1024px) and (max-width:1280px){
  .container{
    width: 970px;
  }
}
@media (max-width:1023px){
  .container{
    width: 90%;
    margin: 0 5%;
  }
  .button{
    font-size: 16px;
    height: 50px;
    width: 100%;
  }
  .section__title{
    margin: 50px 0 15px;
    font-size: 32px;
    line-height: 100%;
  }
  .section__subtitle{
    font-size: 14px;
    max-width: 90%;
    margin-bottom: 45px;
  }
}