.clients{
  padding: 1px 0 140px;
  background: $dark;
  .clients-block{
    display: flex;
    margin-top: 45px;
    .client__item{
      display: flex;
      .client__img{
        margin-right: 60px;
      }
      .client-text{
        .client__text{
          margin-top: 30px;
          max-width: 580px;
        }
      }
    }
  }
  .arrows{
    position: absolute;
    bottom:0;
    left:315px;
    .arrow{
      padding: 5px;
    }
    .arrow:nth-child(2){
      transform: scale(-1,1);
    }
  }

  //fonts
  .section__title{
    color:$light;
  }
  .client__name{
    font-weight: bold;
    font-size: 24px;
    color:$light;
  }
  .client__description{
    color:$light;
    font-weight: 300;
  }
  .client__text{
    color:$light;
    font-weight: 300;
    line-height: 120%;
  }
}
@media (max-width:1023px){
  .clients{
    padding: 1px 0 140px;
    .clients-block{
      flex-direction: column;
      .client__item{
        display: block;
        position: relative;
        width: 90%;
        margin: 0 auto;
        .client__img{
          height: 80px;
          width: 80px;
          border-radius: 70px;
          object-fit: cover;
          margin-right: 25px;
        }
        .client-text{
          .client__name{
            position: absolute;
            top:15px;
            left:110px;
          }
          .client__description{
            position: absolute;
            top:40px;
            left:110px;
          }
          .client__text{
            height: 280px;
            margin-top: 20px;
            max-width: auto;
          }
        }
      }
    }
    .arrows{
      left:5%;
      bottom:-50px;
      .arrow{
        padding: 5px;
      }
      .arrow:nth-child(2){
        transform: scale(-1,1);
      }
    }
  
    //fonts
    .client__name{
      font-size: 18px;
    }
    .client__description,.client__text{
      font-size: 16px;
    }
  }
}