footer{
  background: $dark;
  padding-bottom: 30px;
  .footer-bottom{
    display: flex;
    justify-content: space-between;
  }

  //fonts
  .copyright,.diskl{
    font-weight: 300;
    color:$light;
  }
}
@media (min-width:1024px) and (max-width:1280px){
  footer{
    .copyright,.diskl{
      font-size: 12px;
    }
  }
}
@media (max-width:1023px){
  .footer-bottom{
    margin-top: 50px;
    flex-direction: column-reverse;
    .copyright{
      margin-top: 35px;
    }
  }
}