header,.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  nav{
    width: 650px;
    .nav{
      width: 100%;
      display: flex;
      justify-content: space-between;
      li{
        transition: all .4s;
      }
      li:hover{
        transform: scale(1.15);
      }
    }
  }
  .phone{
    transition: all .4s;
  }
  .phone:hover{
    transform: scale(1.15);
  }

  //fonts
  .logo{
    z-index: 2;
    font-weight: 900;
    font-size: 32px;
    color:$light;
    strong{
      color:$blue;
    }
  }
  nav li a{
    color:$light;
  }
  .phone{
    font-weight: bold;
    font-size: 24px;
    color:$light;
    z-index: 2;
  }
}
.nav-button{
  display: none;
}

@media (min-width:1024px) and (max-width:1280px){
  header,.footer{
    padding: 40px 0;
    nav{
      width: 500px;
    }
  }
}
@media (max-width:1023px){
  .desk__phone{
    display: none;
  }
  .nav-button{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 60px;
    span{
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 5px;
      margin: 3px auto;
      transition: all .8s;
      background: $light;
    }
  }
  .active__button{
    span:nth-child(2){
      opacity: 0;
    }
    span:nth-child(1){
      transform: rotate(40deg) translateY(11px);
    }
    span:nth-child(3){
      transform: rotate(-40deg) translateY(-11px);
    }
  }
  header,.footer{
    nav{
      z-index: 1;
      transform: translateX(100%);
      background: $blue;
      position: fixed;
      top:0;
      left:0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      padding: 35vh 15vw;
      transition: all .6s;
      .nav{
        flex-direction: column;
        align-items: flex-end;
        li{
          margin-bottom: 10px;
        }
      }
    }
    .active__nav{
      transform: translateX(0%);
    }
    .active__logo{
      strong{
        color:$dark !important;
      }
    }
    .phone{
      margin-left: 120px;
      width: 60px;
      height: 60px;
      background: url('../../images/call.png') no-repeat 50% 50%;
    }
    padding: 10px 0;
    
  
    //fonts
    .logo{
      font-weight: 900;
      font-size: 32px;
      color:$light;
      strong{
        color:$blue;
      }
    }
    nav{
      color:$light;
      .nav{
        li{
          font-size: 32px;
        }
      }
    }
    .phone{
      font-weight: bold;
      font-size: 24px;
      color:$light;
    }
  }
}